<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, inital-scale=1.0'>
    <meta http-equiv='X-U-compatible' content='ie=edge'>
    <title>Real time chat app</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="/js/room.js" defer></script>
</head>

<body>
    <div class='wrapper'>
        <section class='rooms'>
            <header>
                <div class='content'>
                    <img src='https://i.ibb.co/R4h7G0j/download.png' alt="user-profile">
                    <div class='details'>
                        <div style='display: flex;'>
                            <span class="user-name"></span>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="logoutChk();return false;" class='logout'>Logout</a>
            </header>
            <div class='search'>
                <input id="roomInput" type="text" placeholder='Search room name'>
                <button><label for="roomInput"><i class='fa fa-search'> </i></label> </button>
                <a href='/createRoom' class='createroom'> <i class='fa fa-plus'> </i> </a>
            </div>
            <div class='room-list'>

            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/logout.js"></script>
    <script>
        document.querySelector(".user-name").textContent = localStorage.getItem("name");
        //SweetAlert2
        const Toast = Swal.mixin({
            toast: true,
            position: ' top-right ',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true
        })

        window.onload = () => {
            // Clear the Room name on local storage
            window.localStorage.removeItem('room');
        }
    </script>
</body>

</html>